/*** Estilo propio ***/
@media only screen and (max-width: 480px) {
  .hidden-xxs {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .hidden-sm {
    display: none !important;
  }
}

.visible-xxs-inline-block, .visible-sm-inline-block {
  display: none !important;
}

@media only screen and (max-width: 480px) {
  .visible-xxs-inline-block {
    display: inline-block !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}

.panel-lateral {
  padding-top: 3em;
  padding-left: 0.5em;
}
.panel-lateral a, .panel-lateral span {
  color: #FFFFFF !important;
  display: block;
  margin: -1em 0;
  padding: 1em 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
.panel-lateral a i, .panel-lateral span i {
  position: absolute;
  right: 16px;
  padding-top: 0.2em;
}

.page-loading {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("images/ajax-loader.gif") 50% 50% no-repeat;
}

body.loading {
  overflow: hidden;
}

body.loading .page-loading {
  display: block;
}

#page-home ul > li[data-role="list-divider"] i.fa {
  float: right;
  font-size: 2em;
}
#page-home #ubicacion-agregar, #page-home #ubicacion-encontrar {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-left: 100px;
}
#page-home #boton-localizacion, #page-home #loading-localizacion, #page-home .loading-ubicacion-item, #page-home #boton-actualizar-ubicaciones {
  position: absolute;
  left: 0;
  top: 0;
  height: 5em;
  width: 5em;
  padding: 1em;
}
#page-home .item-img {
  position: absolute;
  left: 0;
  top: 0;
  height: 4em;
  width: 4em;
  padding: 0.5em;
}
#page-home #ubicacion-actual #ubicacion-actual-link {
  padding-top: 0;
  padding-bottom: 0;
}

.ubicacion-title {
  text-align: center;
  margin: 10px;
}

.nativeDroidCards > li h1, .nativeDroidCards > li h2 {
  text-align: center;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail {
  margin-top: 1em;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li.estado {
  width: 30%;
}
@media only screen and (max-width: 480px) {
  .nativeDroidCards > li[data-cards-type="weather"] .detail li.estado {
    width: 40%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nativeDroidCards > li[data-cards-type="weather"] .detail li.estado {
    width: 40%;
  }
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li.temp {
  width: 68%;
  font-size: 6em;
}
@media only screen and (max-width: 480px) {
  .nativeDroidCards > li[data-cards-type="weather"] .detail li.temp {
    font-size: 4em;
    width: 58%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nativeDroidCards > li[data-cards-type="weather"] .detail li.temp {
    font-size: 5em;
    width: 58%;
  }
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li.detalles {
  width: 100%;
  font-size: 1em;
}
.nativeDroidCards > li[data-cards-type="weather"] .detail li.detalles > span {
  display: inline-block;
  margin-right: 0.5em;
}
.nativeDroidCards > li[data-cards-type="weather"] .info {
  text-align: center;
  padding-top: 1em;
}
.nativeDroidCards > li[data-cards-type="weather"] .info > span {
  display: inline-block;
  margin-right: 1em;
  font-size: 0.75em;
}
.nativeDroidCards > li[data-cards-type="weather"] .week {
  overflow-x: auto;
  padding-top: 1em;
  white-space: nowrap;
}
.nativeDroidCards > li[data-cards-type="weather"] .week li {
  width: 7em;
}
.nativeDroidCards > li[data-cards-type="weather"] .week li strong {
  display: inline-block;
}
.nativeDroidCards > li[data-cards-type="weather"] .week .pron_tempmax, .nativeDroidCards > li[data-cards-type="weather"] .week .pron_tempmin {
  font-size: 1.2em;
}
.nativeDroidCards > li[data-cards-type="weather"] .week .pron_tempmin {
  margin-bottom: .5em;
}
.nativeDroidCards > li[data-cards-type="weather"] .week .pron_viento, .nativeDroidCards > li[data-cards-type="weather"] .week .pron_nubes, .nativeDroidCards > li[data-cards-type="weather"] .week .pron_precip {
  font-size: 0.8em;
}
.nativeDroidCards > li[data-cards-type="weather"] .week span {
  display: block;
}
.nativeDroidCards > li[data-cards-type="weather"] .week span i.wi {
  display: inline-block;
  margin-right: .5em;
}

#map {
  position: relative;
}

#map_canvas {
  width: 90%;
  height: 300px;
  margin: 0 auto;
}
