.hidden-xxs {
	@include media-only(xxs) { 
		display:none !important;
	}
}
.hidden-sm {
	@include media-only(sm) { 
		display:none !important;
	}
}
.visible-xxs-inline-block, .visible-sm-inline-block {
	display:none !important;
}
.visible-xxs-inline-block{	
	@include media-only(xxs) { 
		display:inline-block !important;
	}
}
.visible-sm-inline-block { 
	@include media-only(sm) { 
		display:inline-block !important;
	}
}

.panel-lateral {
	padding-top: 3em;
	padding-left: 0.5em;
	a, span {
		color: #FFFFFF !important;
		display: block;
		margin: -1em 0;
		padding: 1em 1em;
		text-shadow:  1px 1px 1px rgba(0,0,0,0.2);
		i {
			position: absolute;
			right: 16px;
			padding-top: 0.2em;
		}
	}

	
}

.page-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

body.loading {
    overflow: hidden;   
}
body.loading .page-loading {
    display: block;
}

#page-home {
	ul  {
		>li[data-role="list-divider"] {
			i.fa {
				float: right;
				font-size: 2em;
			}
		}
	}
	
	#ubicacion-agregar, #ubicacion-encontrar {
		border-bottom: 2px solid rgba(255,255,255,0.1);
		padding-left: 100px;
		
	}
	#boton-localizacion, #loading-localizacion, .loading-ubicacion-item, #boton-actualizar-ubicaciones {
		position: absolute;
		left: 0;
		top: 0;
		height: 5em;
		width: 5em;
		padding: 1em;
	}
	
	.item-img {
		position: absolute;
		left: 0;
		top: 0;
		height: 4em;
		width: 4em;
		padding: 0.5em;
		
	}
	#ubicacion-actual {
		//display: none;
		#ubicacion-actual-link {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}


.ubicacion-title {
	text-align: center;
	margin: 10px;
}

.nativeDroidCards {
	>li {
		h1,h2 {
			text-align: center;
		}
		
	}
	>li[data-cards-type="weather"] {
		.detail {
			margin-top: 1em;
			li.estado {
				width: 30%;
				@include media-only(xxs) { 
					width: 40%;
				}
				@include media-only(sm) { 
					width: 40%;
				}
			}
			li.temp {
				width: 68%;
				font-size: 6em;
				@include media-only(xxs) { 
					font-size: 4em;
					width: 58%;
				}
				@include media-only(sm) { 
					font-size: 5em;
					width: 58%;
				}
			}
			li.detalles {
				width: 100%;
				font-size: 1em;
				>span {
					display: inline-block;
					margin-right: 0.5em;
				}
			}
			
		}
		.info {
			text-align: center;
			padding-top: 1em;
			>span {
				display: inline-block;
				margin-right: 1em;
				font-size: 0.75em;
			}
		}
		.week {
			overflow-x: auto;
			padding-top: 1em;
			white-space: nowrap;
			li {
				width: 7em;
				strong {
					display: inline-block;
				}
			}
			.pron_tempmax, .pron_tempmin {
				font-size: 1.2em;
			}
			.pron_tempmin {
				margin-bottom: .5em;
			}
			.pron_viento, .pron_nubes, .pron_precip {
				font-size: 0.8em;
			}
			
			span {
				display: block;
				i.wi {
					display: inline-block;
					margin-right: .5em;
				}
			}
		}

	}
}

#map {
	position: relative;
	
}

#map_canvas {
	width: 90%;
	height: 300px;
	margin: 0 auto;

}