<a class="ubicacion-link" href="#ubicacion/<%= id %>">
    <div class="loading-ubicacion-item">
        <span class="fa fa-spinner fa-spin fa-3x"></span>
    </div> 
    <img class="item-img" src="<%= icon %>" style="display: none">
    <h2 class="item-name"><%= name %></h2>
    <p><% if(temp!="") { %>
    	<strong class="item-temp"><%= temp %>&deg;</strong> 
    	<span class="item-estado"><%= condition %></span>
    	<% } if(time!="") { %>
    	<span class="item-hora"><i>(<%= time %>hs.)</i></span>
    	<% } %>
    </p>
</a>
<a href="" class="ubicacion-delete">Quitar</a>